* {
    background-color:rgb(18, 230, 198);
    font-size: 30px;
}

h1, form {
    margin:0;
    color: rgb(187, 255, 0);
    text-align: center;
    font-size: 80px;
}

ol{
    list-style: none;
}

label {
    padding-right: 10px;
}

i {
    color: blue;
}

input[type="checkbox"] {
    margin: 15px 15px 15px 10px;
    transform : scale(3);
}