* {
    background-color:rgb(18, 230, 198);
}
h1 {
    color: rgb(187, 255, 0);
    font-size: 50px;
}

h1, form, ol, li{
    text-align: center;
}

form, ol, li{
    font-size: 30px;
}

ol{
    list-style: none;
}

label {
    padding-right: 10px;
}

i {
    font-size: 20px;
    color: blue;
}

input[type="checkbox"] {
    margin: 15px 15px 15px 10px;
    transform : scale(3);
}